<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="page-container">
    {% include 'includes/header.html' %}

    {% include 'includes/nav.html' %}

    <div class="content-wrap">
        {% block content %}{% endblock %}

    </div>

    {% include 'includes/footer.html' %}
    <button id="mode-toggle">Tungi rejim</button>

    <script>
        const modeToggle = document.getElementById('mode-toggle');
        const body = document.body;

        modeToggle.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
            const isDarkMode = body.classList.contains('dark-mode');
            modeToggle.textContent = isDarkMode ? 'Kunduzgi rejim' : 'Tungi rejim';
        });
    </script>
</body>
</html>

